    .naglowek {
        color: rgba(76, 23, 211, 0.504);
    }

    .container {
        color: #222;
        background: #eee;

    }

    .whiteBackground {
        background: white;
    }

    .Starwars {
        color: rgba(76, 23, 211, 0.504);
    }