.section {
    padding: 20px;
}

.section__header {
    background-color: rgba(12, 34, 80, 0.722);
    color: whitesmoke;
    border-radius: 15px;
    box-shadow: 10px -15px 53px 1px #3E6CE0;
}

.section__paragraph {
    color: rgb(28, 26, 26)
}

.section__inline {
    background: rgba(22, 22, 112, 0.721);
    color: whitesmoke;
}