html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.body {
    background: rgba(37, 37, 158, 0.129);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 50px;
    text-align: center;
    line-height: 1.5;
}



.body--lightRed {
    background: rgba(232, 31, 9, 0.315);
    color: #222;
}





.body__changeBackgroundButton {
    display: block;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(80, 171, 241, 0.573);
    color: whitesmoke;
    font-size: 15px;
    border: 1px groove rgb(46, 147, 230);
    border-radius: 10px;
}

.main__image {
    display: block;
    box-shadow: 110px 30px 106px -12px #2C4BE8;
    margin: 50px auto;
    outline: 5px ridge rgba(13, 12, 80, 0.722);
    outline-offset: 5px;
    border-radius: 20px;
    outline-offset: 5px;
}



.footer {
    margin-top: 25px;

}